.ik-form-item {
  margin-top: 22rpx;
  // padding-top: 4rpx;

  .ik-form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2rpx solid #eee;

    .ik-form-wrap {
      flex: 1;
      margin-bottom: 24rpx;
    }

    .narrow {
      width: 32rpx;
      height: 32rpx;
      margin-bottom: 24rpx;
      // padding-bottom: 16rpx;
    }
  }

  .extraClass {
    margin: 16rpx 0;
    color: #8E9296;
    font-size: 24rpx;
    line-height: 34rpx;
    // display: none;
  }
}

.ik-form-pos-left {
  .uni-forms-item {
    .uni-forms-item__inner {
      align-items: center;
      // padding-bottom: 18rpx;
      padding-bottom: 0 !important;
    }
    .uni-forms-item__content {
      // line-height: 36px;
      min-height: auto;
      line-height: unset;
    }
    .uni-forms-item__label {
      height: auto !important;
      padding: 0 !important;
      .label-text {
        color: #29323D;
        font-weight: 400;
        font-size: 30rpx;
        line-height: 60rpx;
        // line-height: 42rpx;
      }
    }
    .uni-error-message {
      // top: 50rpx;
      // bottom: auto;
      bottom: -30rpx !important;
      padding-left: 0 !important;
    }
    input, picker, .uni-rate__icon-on, .uni-rate__icon {
      height: 36px;
      line-height: 36px;
    }
  }
}

.ik-form-pos-top {
  &.ik-form-item {
    margin-top: 16rpx;
  }

  .uni-forms-item {
    margin: 0 32rpx;

    .uni-forms-item__inner {
      padding-bottom: 32rpx;
    }

    textarea {
      width: auto;
      height: 168rpx;
      padding: 24rpx;
      border: 2rpx solid #EEE;
      border-radius: 16rpx;
    }

    .uni-data-checklist .checklist-group .checklist-box {
      align-items: flex-start;
      width: 100%;
      min-height: 44rpx;
      margin-right: 0;
      padding: 24rpx;
      line-height: 44rpx;
      border: 2rpx solid #F9F9F9;
      border-radius: 16rpx;

      &.is-checked {
        background: rgba(50, 133, 246, 10%);
        border-color: 2rpx solid rgba(50, 133, 246, 10%);
      }

      .checklist-content .checklist-text {
        color: #5A6067;
        font-size: 28rpx;
        line-height: 40rpx;
      }

      .checkbox__inner, .radio__inner {
        margin-top: 2px;
      }
    }

    .uni-forms-item__label {
      display: block;
      width: 100%;
      height: auto;
      padding: 0;

      .label-text {
        margin: 16rpx 0;
        color: #001226;
        font-weight: 500;
        font-size: 30rpx;
        line-height: 40rpx;
      }
    }

    .uni-forms-item__content {
      min-height: 16px;
    }
  }
}

.ik-form-element.last .ik-form-row {
  border-bottom: none !important;
}

.label-one-line {
  .uni-forms-item__label {
    width: 100% !important;
  }
  .is-direction-left {
    flex-direction: column !important;
  }
}