.section {
  border-top: 1px dashed #e7e7f3;
}

.section .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 0 8px;
}

.section .header .title {
  margin-right: 8px;
  color: #2a2a2a;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.section .header .score {
  height: 20px;
  padding: 0 8px;
  color: #356ad3;
  font-size: 14px;
  line-height: 20px;
  background: rgba(255, 122, 151, 10%);
  border-radius: 7px 0;
}

.section .desc-wrap {
  margin: 8px 0 16px;
}

.section .desc-wrap .title {
  margin-bottom: 4px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}

.section .desc-wrap .text {
  color: #a4a4aa;
  font-size: 12px;
  line-height: 16px;
}
