.faceArea {
  position: relative;
  width: 440rpx;
  height: 440rpx;
  margin: auto;
}

.faceArea .base,
.faceArea .mask {
  width: 100%;
  height: 100%;
}

.faceArea .mask {
  position: absolute;
  top: 0;
  left: 0;
}
